*,*::before,*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right,#50dac7,#10d860);
}



.calculator-grid {
  display: grid;
  justify-content: center;
  margin-top: 9em;
  grid-template-columns: repeat(4,6rem);
  grid-template-rows: minmax(7rem, auto);
}

.calculator-grid > button {
  height: 80px;
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  background-color: rgba(228, 222, 222, 0.75);
  border: none;
}



.calculator-grid > button:hover, 
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}


button.rounded {
  border-radius: 50%;
  margin: 0.2em;
  color: #dedede;
  background-color: #343434;
}


button.operation {
  margin: 0.2em;
  border-radius: 10%;
  background-color: #fa9333;
  color: #dedede;
}

.span-two {
  grid-column: span 2;
  margin: 0.2em;
  border-radius: 4px;
  
}

.del-btn {
  margin: 0.2em;
  border-radius: 50%;

}

.output {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  grid-column: 1 / -1;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
  background-color: black;
  border-radius: 12px;
  margin-bottom: 0.4em;
  min-height: 140px;
}

.output .previous-operand {
  color: rgba(255,255,255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}